body {
  background-color: white;
  font-family: "Calibri";
  margin-top: 2px;
  padding: 10px;
}

#page {
  background-color: LightGray;
  padding: 10px;
}

#main {
  list-style-type:none;
  background-color: black;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#main li {
  display: inline-block;
}

#main li a {
  display: inline-block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

#main li a:hover {
  font-weight:bold;
  background-color: DarkGray;
  font-size: 20px;
}

#vrhover {
  padding: 0px;
  list-style-type: none;
  background-color: DarkRed;
  width: 24%;
  overflow:hidden;
  display: block;
}

#vrhover li a {
  display: inline-block;
  color: LightGray;
  padding: 15px;
  text-decoration: none;
  overflow: hidden;
  width: 100%;
}

#vrhover li a:hover {
  font-weight: bold;
  background-color: FireBrick;
}

#horizontal {
  overflow: hidden;
  list-style-type: none;
  background-color: DarkRed;
  margin: 0;
  padding: 0 25%;/*1 nachin za centralizirane*/
  /* padding-left: 25%; 2 nachin za centralizirane
  padding-right: 25%; 2 nachin za centralizirane*/
}
/* #horizontal div{  /*3 nachin za centralirane*/
  /* margin: auto;
  width: 50%; */
/* } */ 
#horizontal li {
  display: inline-block;
}

#horizontal li a {
  display: inline-block;
  color: LightGray;
  padding: 15px;
  text-decoration: none;
}

#horizontal li a:hover {
  font-weight: bold;
  background-color: FireBrick;
}

#header {
  width: 100%;
  height: 150px;
}
