body {
    background-color: white;
    font-family: Calibri;
    margin-top: 2px;
    padding: 0px;
}

div {
    background-color: LightGray;
    padding: 5px;
}

#main {
    /*overflow: hidden;*/
    list-style-type: none;
    background-color: Black;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

#main li {
    display: inline-block;
    padding-left: 0;
}

#main li a {
    display: inline-block;
    color: White;
    padding: 15px 15px;
    text-decoration: none;
}

#main li a:hover {
    font-weight: bold;
    background-color: DarkGray;
}

#vertical {
    list-style-type: none;
    background-color: DarkRed;
    width: 200px;
    margin: 0px;
    padding: 0px;
}

#vertical li a {
    display: block;
    color: LightGray;
    padding: 15px 15px;
    text-decoration: none;
}

#vrhover {
    padding: 0px;
    list-style-type: none;
    background-color: DarkRed;
    width: 20%;
    overflow: hidden;
}

#vrhover li a {
    display: inline-block;
    color: LightGray;
    padding: 15px 15px;
    text-decoration: none;
    overflow: hidden;
    width: 100%;
}

#vrhover li a:hover {
    font-weight: bold;
    background-color: FireBrick;
}

#horizontal {
    overflow: hidden;
    list-style-type: none;
    background-color: DarkRed;
    margin: 0px;
    padding: 0px;
    padding-left: 25%;
    padding-right: 25%;
}

#horizontal li a {
    display: block;
    color: LightGray;
    padding: 15px 15px;
    text-decoration: none;
}

#horizontal li a:hover {
    font-weight: bold;
    background-color: FireBrick;
}

#horizontal li {
    float: left;
}

#header {
    width: 100%;
    height: 150px;
}