.main {
    display: block;
    border: 3px solid blue;
    width: 100%;
    position: relative;
    left: 120px;
    height: 350px;
}

.s {
    position: absolute;
    border: 2px solid green;
    top: 120px;
    width: 50%;
    height: 100px;
}

img {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1;
    opacity: 0.6;
}

h2 {
    background-color: yellowgreen;
    font-size: 40px;
    width: 500px;
}

.img {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    opacity: 1;
    left: 300px;
}