body {
    background-color: darkkhaki;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: aqua;
    text-align: center;
    background-color: brown;
    font-weight: bolder;
}

h2 {
    background-color: deeppink;
    color: dimgrey;
    text-align: center;
}

ul {
    list-style-type: square;
    background-color: gray;
}

ul li,
ol li {
    color: darkorange;
}

ol {
    list-style-type: upper-latin;
    background-color: indigo;
}

p {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

ol {
    border-radius: 5px;
    border-bottom: 5px red;
    border-bottom-style: double;
}

strong {
    border: 10px double purple;
    background-color: sandybrown;
    border-radius: 30px;
}

h3 {
    border-radius: 3px;
}

table,
th,
td {
    border: 3px solid black;
}

table {
    margin: auto;
}

.list_1 {}

.list_2 {}

#list_id {}