h1{
    text-align: center;
}
table,th,td{
    border: 1px solid black; 
    text-align:center;
    border-collapse: collapse;  
}
th{
    background-color: palevioletred;
    color: chartreuse;
}
td{
    background-color: coral;
    color:skyblue;
}
table{
    margin:auto;
    width:70%;
}