body {
    background-image: url('2015-MERCEDES-AMG-GT-SOLARBEAM-3-HD-1920x1080.jpg');
}

h1 {
    font-size: 50px;
    font-family: Arial;
    color: white;
    background-color: red;
    display: inline;
}

p {
    text-align: left;
    color: white;
    font-family: Arial;
    font-size: 25px;
    background-color: red;
    display: inline;
    /*height: 100px;*/
}


/*ползване на height при положение , че има display:inline*/