.header {
    width: 624px;
    height: 150px;
    margin: auto;
    display: block;
}

.mem {
    background: url(background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 0px;
}

.octoberfest {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: none;
    width: 50%;
    color: orange;
    margin-left: 312px;
}

.nein {
    float: left;
    text-decoration: none;
}

.yea {
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 300px;
}

.nein a:hover {
    background-image: linear-gradient(black, orange);
    color: black;
}

.dropbtn {
    background-color: black;
    color: orange;
    padding: 16px;
    font-size: 16px;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: orange;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: orange;
    background-color: black;
    padding: 12px 16px;
    border-left: solid;
    border-right: solid;
    border-color: orange;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-image: linear-gradient(black, orange, black);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-image: linear-gradient(black, orange);
    color: black;
}

.scout {
    border-top: solid;
    border-color: orange;
}

.spy {
    border-bottom: solid;
    border-color: orange;
}

.steam {
    background-color: black;
    display: block;
    text-decoration: none;
}

.steam_2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.steam_3 {
    float: left;
}

.steam_3 a {
    display: block;
    color: orange;
    background-color: black;
    border: solid;
    border-color: orange;
    text-align: center;
    padding: 14px 29px;
    text-decoration: none;
    padding-bottom: 18px;
    margin: 0px;
}

.steam_3 a:hover {
    background-image: linear-gradient(black, orange);
    color: black;
}

.settings_2 {
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 37px;
    padding-right: 37px;
    font-size: 16px;
    border: solid;
    border-color: green;
    cursor: pointer;
    background-color: green;
}

.settings_1 {
    position: relative;
    display: inline-block;
}

.settings_3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.settings_3 a {
    color: white;
    background-color: green;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.settings_3 a:hover {
    background-image: linear-gradient(green, rgb(57 255 20), green);
    color: black;
}

.settings_1:hover .settings_3 {
    display: block;
}

.settings_1:hover .settings_2 {
    background-color: rgb(57 255 20);
    background-image: linear-gradient(rgb(57 255 20), green);
    color: black;
}

.ezik {
    border-left: solid;
    border-top: solid;
    border-right: solid;
    border-color: green;
}

.brave {
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
    border-color: green;
}

.maps_2 {
    color: orange;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: black;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-color: orange;
}

.maps_1 {
    position: relative;
    display: inline-block;
}

.maps_3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.maps_3 a {
    color: orange;
    background-color: black;
    border-left: solid;
    border-right: solid;
    border-color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.maps_3 a:hover {
    background-image: linear-gradient(black, orange, black);
    color: black;
}

.maps_1:hover .maps_3 {
    display: block;
}

.maps_1:hover .maps_2 {
    background-image: linear-gradient(black, orange);
    color: black;
}

.mods_2 {
    color: orange;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: black;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: orange;
}

.mods_1 {
    position: relative;
    display: inline-block;
}

.mods_3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.mods_3 a {
    color: orange;
    background-color: black;
    border-left: solid;
    border-right: solid;
    border-color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.mods_3 a:hover {
    background-image: linear-gradient(black, orange, black);
    color: black;
}

.mods_1:hover .mods_3 {
    display: block;
}

.mods_1:hover .mods_2 {
    background-image: linear-gradient(black, orange);
    color: black;
}

.site {
    color: orange;
    background-color: black;
    text-align: left;
    display: inline-block;
    border: solid;
    border-color: orange;
    padding: 5px;
}

.text {
    color: orange;
    background-color: black;
    border: solid;
    border-color: orange;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 0px;
}

.craft_2 {
    color: orange;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: black;
    border-top: solid;
    border-bottom: solid;
    border-color: orange;
}

.craft_1 {
    position: relative;
    display: inline-block;
}

.craft_3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.craft_3 a {
    color: orange;
    background-color: black;
    border-left: solid;
    border-right: solid;
    border-color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.craft_3 a:hover {
    background-image: linear-gradient(black, orange, black);
    color: black;
}

.craft_1:hover .craft_3 {
    display: block;
}

.craft_1:hover .craft_2 {
    background-image: linear-gradient(black, orange);
    color: black;
}


/*Ненужни }*/