table{
	margin-left: 800px;
	width: 300px;
	border-spacing:0px;
}


th{
	text-align: left;
}

table, th, td {
    border:2px solid  #000
}


th, td {
	padding: 5px;
}


tr{
	background-color: orange;
}

body{
	background:url(https://i.pinimg.com/originals/25/43/81/2543813e77e4ede897ebc169561de540.jpg)no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}