ul{
	display:inline-block;
	width: 50%;
	text-align: center;
}
ul a li{
	display:inline-block;
	text-align: center;
}
.lione{
	width: 17%;
	padding-top: 0%;
	background-color: white;
}
.litwo{
	width: 17%;
	padding-top: 1%;
	background-color: white;
}
.lithree{
	width: 17%;
	padding-top: 2%;
	background-color: white;
}
.lifour{
	width: 17%;
	padding-top: 3%;
	background-color: white;
}
.lifive{
	width: 17%;
	padding-top: 4%;
	background-color: white;
}
.ul{
	background-color: blue;
	padding: 0.005%;
	margin-right: -5%;
	margin-left: -5%;
	margin-top: -0.75%;
	text-align: center;
}
h1{
	text-align: center;
}
.ime{
	text-align: center;
}
.MyReview{
	text-align: center;
}
html{
	background:url(itsteplogobackground.png)no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
}
.html5logo{
	margin-right: 25%;
}
.css3logo{
	margin-left: 31.75%;
}
.uspeh{
	text-align: center;
}
.ps{
	text-align: center;
}
.favhtml{
	text-align: center;
}
.goodbye{
	text-align: center;
}