body{
	background-color: yellow;
	font-family: Yusei Magic;
	margin: 15%;

	margin-top: 5px;
	padding: 0px;
}
div{
	background-color: lightgray;
	padding: 2px;
}
#main{
	overflow: hidden;
	list-style-type: none;
	background-color: black;
	margin: 0px;
	padding: 0px;
}
#main li a{
	display: block;
	color: white;
	padding: 15px;
	text-decoration: none;
}
#main li a:hover{
	font-weight: bold;
	background-color: darkgray;
}
#main li{
	float:left;
}
#vertical{
	list-style-type: none;
	background-color: darkred;
	width: 200px;
	margin: 0px;
	padding: 0px;
}
#vertical li a{
	display: block;
	color: lightgray;
	padding: 15px;
	text-decoration: none;
}
#vrhover{
	padding: 0px;
	list-style-type: none;
	background-color: darkred;
	width: 200px;
}
#vrhover li a{
	display: block;
	color: lightgray;
	padding: 15px;
	text-decoration: none;
}
#vrhover li a:hover{
	font-weight: bold;
	background-color: firebrick;
}
#horizontal{
	overflow: hidden;
	list-style-type: none;
	background-color: darkred;
	margin: 0px;
	padding: 0px;
}
#horizontal li a{
	display: block;
	color: lightgray;
	padding: 15px;
	text-decoration: none;
}
#horizontal li a:hover{
	font-weight: bold;
	background-color: firebrick;
}
#horizontal li{
	float: left;
}
pre{
	max-width: 500px;
	background-color: white;
	border:double darkred;
}
#header{
	width: 100%;
	height: 150px;
}
hr{
	border: darkred dashed 2px;
}
#home{
	width: 150px;
	position: fixed;
	right: 180px;
	bottom: 30px;
}
ul {
	list-style-type: none;
	background-color: darkred;
	padding: 0px;
	width: 200px;
}
li a{
	display: block;
	color: lightgray;
	padding: 15px;
	text-decoration: none;
}
ul{
	list-style-type: none;
	background-color: darkred;
	padding: 0px;
	width: 200px;
}
li a{
	display: block;
	color: lightgray;
	padding: 15px;
	text-decoration: none;
}
li a:hover{
     font-weight: bold;
     background-color: firebrick;
}
ul{
	overflow: hidden;
	list-style-type: none;
	background-color: darkred;
	margin: 0px;
	padding: 0px;
}
li a{
	display: block;
    color: lightgray;
    padding: 15px;
    text-decoration: none;
}
li a:hover{
	font-weight: bold;
	background-color: firebrick;
}
li{
	float: left;
}